<div class="container" id="new-decision">
  <h1>Edit Decision</h1>

  <%= form_for @decision do |f| %>
    <%= render partial: "/decisions/form", locals: {f: f} %>
    <%= submit_tag("Save", class: "btn btn-primary") %>
  <% end %>

</div>
