<div class="container">
  <h1>Add User</h1>

  <%= form_for @user do |f| %>
    <%= render partial: "/users/form", locals: {f: f, new_form: true} %>
    <%= submit_tag("Add", class: "btn btn-primary") %>
  <% end %>
</div>
