<div class="container">
  <h1>Add User</h1>

  <%= form_for(setup_user(@user)) do |f| %>
    <%= render partial: "/users/form", locals: {f: f} %>
    <%= submit_tag("Add", class: "btn btn-primary") %>
  <% end %>
</div>
