<!-- <div class="title-search">
  <h1>Recent Decisions By Circle</h1>
  <span class="search">
    <%#= render "/layouts/search" %>
  </span>
</div> -->
<%= render "/layouts/sort_search_nav", locals: {title: "Recent Decisions By Circle", sort_available?: false} %>

<% @circles.each do |circle| %>
  <h2><%= circle.name %></h2>
  <p><%= circle.description %></p>
  <% if Decision.three_most_recent(circle).empty? %>
    <p>There are not yet decisions for this circle.</p>
  <% else %>
    <ul>
      <% Decision.three_most_recent(circle).each do |decision| %>
        <li><%= link_to "#{decision.name}", decision_path(decision.id) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
